<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="GeneratedComponents" Directory="INSTALLFOLDER">
      <Component Id="GeneratedFile1" Guid="*">
        <File Id="file_Avalonia.Base.dll" Source="$(var.PublishPath)\Avalonia.Base.dll" />
      </Component>
      <Component Id="GeneratedFile2" Guid="*">
        <File Id="file_Avalonia.Controls.dll" Source="$(var.PublishPath)\Avalonia.Controls.dll" />
      </Component>
      <Component Id="GeneratedFile3" Guid="*">
        <File Id="file_Avalonia.DesignerSupport.dll" Source="$(var.PublishPath)\Avalonia.DesignerSupport.dll" />
      </Component>
      <Component Id="GeneratedFile4" Guid="*">
        <File Id="file_Avalonia.Desktop.dll" Source="$(var.PublishPath)\Avalonia.Desktop.dll" />
      </Component>
      <Component Id="GeneratedFile5" Guid="*">
        <File Id="file_Avalonia.Dialogs.dll" Source="$(var.PublishPath)\Avalonia.Dialogs.dll" />
      </Component>
      <Component Id="GeneratedFile6" Guid="*">
        <File Id="file_Avalonia.dll" Source="$(var.PublishPath)\Avalonia.dll" />
      </Component>
      <Component Id="GeneratedFile7" Guid="*">
        <File Id="file_Avalonia.Fonts.Inter.dll" Source="$(var.PublishPath)\Avalonia.Fonts.Inter.dll" />
      </Component>
      <Component Id="GeneratedFile8" Guid="*">
        <File Id="file_Avalonia.FreeDesktop.dll" Source="$(var.PublishPath)\Avalonia.FreeDesktop.dll" />
      </Component>
      <Component Id="GeneratedFile9" Guid="*">
        <File Id="file_Avalonia.HtmlRenderer.dll" Source="$(var.PublishPath)\Avalonia.HtmlRenderer.dll" />
      </Component>
      <Component Id="GeneratedFile10" Guid="*">
        <File Id="file_Avalonia.Markup.dll" Source="$(var.PublishPath)\Avalonia.Markup.dll" />
      </Component>
      <Component Id="GeneratedFile11" Guid="*">
        <File Id="file_Avalonia.Markup.Xaml.dll" Source="$(var.PublishPath)\Avalonia.Markup.Xaml.dll" />
      </Component>
      <Component Id="GeneratedFile12" Guid="*">
        <File Id="file_Avalonia.Metal.dll" Source="$(var.PublishPath)\Avalonia.Metal.dll" />
      </Component>
      <Component Id="GeneratedFile13" Guid="*">
        <File Id="file_Avalonia.MicroCom.dll" Source="$(var.PublishPath)\Avalonia.MicroCom.dll" />
      </Component>
      <Component Id="GeneratedFile14" Guid="*">
        <File Id="file_Avalonia.Native.dll" Source="$(var.PublishPath)\Avalonia.Native.dll" />
      </Component>
      <Component Id="GeneratedFile15" Guid="*">
        <File Id="file_Avalonia.OpenGL.dll" Source="$(var.PublishPath)\Avalonia.OpenGL.dll" />
      </Component>
      <Component Id="GeneratedFile16" Guid="*">
        <File Id="file_Avalonia.Remote.Protocol.dll" Source="$(var.PublishPath)\Avalonia.Remote.Protocol.dll" />
      </Component>
      <Component Id="GeneratedFile17" Guid="*">
        <File Id="file_Avalonia.Skia.dll" Source="$(var.PublishPath)\Avalonia.Skia.dll" />
      </Component>
      <Component Id="GeneratedFile18" Guid="*">
        <File Id="file_Avalonia.Themes.Fluent.dll" Source="$(var.PublishPath)\Avalonia.Themes.Fluent.dll" />
      </Component>
      <Component Id="GeneratedFile19" Guid="*">
        <File Id="file_Avalonia.Vulkan.dll" Source="$(var.PublishPath)\Avalonia.Vulkan.dll" />
      </Component>
      <Component Id="GeneratedFile20" Guid="*">
        <File Id="file_Avalonia.Win32.Automation.dll" Source="$(var.PublishPath)\Avalonia.Win32.Automation.dll" />
      </Component>
      <Component Id="GeneratedFile21" Guid="*">
        <File Id="file_Avalonia.Win32.dll" Source="$(var.PublishPath)\Avalonia.Win32.dll" />
      </Component>
      <Component Id="GeneratedFile22" Guid="*">
        <File Id="file_Avalonia.X11.dll" Source="$(var.PublishPath)\Avalonia.X11.dll" />
      </Component>
      <Component Id="GeneratedFile23" Guid="*">
        <File Id="file_av_libglesv2.dll" Source="$(var.PublishPath)\av_libglesv2.dll" />
      </Component>
      <Component Id="GeneratedFile24" Guid="*">
        <File Id="file_BigFileHunter.deps.json" Source="$(var.PublishPath)\BigFileHunter.deps.json" />
      </Component>
      <Component Id="GeneratedFile25" Guid="*">
        <File Id="file_BigFileHunter.dll" Source="$(var.PublishPath)\BigFileHunter.dll" />
      </Component>
      <Component Id="GeneratedFile26" Guid="*">
        <File Id="file_BigFileHunter.pdb" Source="$(var.PublishPath)\BigFileHunter.pdb" />
      </Component>
      <Component Id="GeneratedFile27" Guid="*">
        <File Id="file_BigFileHunter.runtimeconfig.json" Source="$(var.PublishPath)\BigFileHunter.runtimeconfig.json" />
      </Component>
      <Component Id="GeneratedFile28" Guid="*">
        <File Id="file_Chaos.NaCl.dll" Source="$(var.PublishPath)\Chaos.NaCl.dll" />
      </Component>
      <Component Id="GeneratedFile29" Guid="*">
        <File Id="file_clretwrc.dll" Source="$(var.PublishPath)\clretwrc.dll" />
      </Component>
      <Component Id="GeneratedFile30" Guid="*">
        <File Id="file_clrgc.dll" Source="$(var.PublishPath)\clrgc.dll" />
      </Component>
      <Component Id="GeneratedFile31" Guid="*">
        <File Id="file_clrgcexp.dll" Source="$(var.PublishPath)\clrgcexp.dll" />
      </Component>
      <Component Id="GeneratedFile32" Guid="*">
        <File Id="file_clrjit.dll" Source="$(var.PublishPath)\clrjit.dll" />
      </Component>
      <Component Id="GeneratedFile33" Guid="*">
        <File Id="file_coreclr.dll" Source="$(var.PublishPath)\coreclr.dll" />
      </Component>
      <Component Id="GeneratedFile34" Guid="*">
        <File Id="file_createdump.exe" Source="$(var.PublishPath)\createdump.exe" />
      </Component>
      <Component Id="GeneratedFile35" Guid="*">
        <File Id="file_HarfBuzzSharp.dll" Source="$(var.PublishPath)\HarfBuzzSharp.dll" />
      </Component>
      <Component Id="GeneratedFile36" Guid="*">
        <File Id="file_hostfxr.dll" Source="$(var.PublishPath)\hostfxr.dll" />
      </Component>
      <Component Id="GeneratedFile37" Guid="*">
        <File Id="file_hostpolicy.dll" Source="$(var.PublishPath)\hostpolicy.dll" />
      </Component>
      <Component Id="GeneratedFile38" Guid="*">
        <File Id="file_libHarfBuzzSharp.dll" Source="$(var.PublishPath)\libHarfBuzzSharp.dll" />
      </Component>
      <Component Id="GeneratedFile39" Guid="*">
        <File Id="file_libSkiaSharp.dll" Source="$(var.PublishPath)\libSkiaSharp.dll" />
      </Component>
      <Component Id="GeneratedFile40" Guid="*">
        <File Id="file_MicroCom.Runtime.dll" Source="$(var.PublishPath)\MicroCom.Runtime.dll" />
      </Component>
      <Component Id="GeneratedFile41" Guid="*">
        <File Id="file_Microsoft.CSharp.dll" Source="$(var.PublishPath)\Microsoft.CSharp.dll" />
      </Component>
      <Component Id="GeneratedFile42" Guid="*">
        <File Id="file_Microsoft.DiaSymReader.Native.amd64.dll" Source="$(var.PublishPath)\Microsoft.DiaSymReader.Native.amd64.dll" />
      </Component>
      <Component Id="GeneratedFile43" Guid="*">
        <File Id="file_Microsoft.VisualBasic.Core.dll" Source="$(var.PublishPath)\Microsoft.VisualBasic.Core.dll" />
      </Component>
      <Component Id="GeneratedFile44" Guid="*">
        <File Id="file_Microsoft.VisualBasic.dll" Source="$(var.PublishPath)\Microsoft.VisualBasic.dll" />
      </Component>
      <Component Id="GeneratedFile45" Guid="*">
        <File Id="file_Microsoft.Win32.Primitives.dll" Source="$(var.PublishPath)\Microsoft.Win32.Primitives.dll" />
      </Component>
      <Component Id="GeneratedFile46" Guid="*">
        <File Id="file_Microsoft.Win32.Registry.dll" Source="$(var.PublishPath)\Microsoft.Win32.Registry.dll" />
      </Component>
      <Component Id="GeneratedFile47" Guid="*">
        <File Id="file_mscordaccore.dll" Source="$(var.PublishPath)\mscordaccore.dll" />
      </Component>
      <Component Id="GeneratedFile48" Guid="*">
        <File Id="file_mscordaccore_amd64_amd64_9.0.425.16305.dll" Source="$(var.PublishPath)\mscordaccore_amd64_amd64_9.0.425.16305.dll" />
      </Component>
      <Component Id="GeneratedFile49" Guid="*">
        <File Id="file_mscordbi.dll" Source="$(var.PublishPath)\mscordbi.dll" />
      </Component>
      <Component Id="GeneratedFile50" Guid="*">
        <File Id="file_mscorlib.dll" Source="$(var.PublishPath)\mscorlib.dll" />
      </Component>
      <Component Id="GeneratedFile51" Guid="*">
        <File Id="file_mscorrc.dll" Source="$(var.PublishPath)\mscorrc.dll" />
      </Component>
      <Component Id="GeneratedFile52" Guid="*">
        <File Id="file_msquic.dll" Source="$(var.PublishPath)\msquic.dll" />
      </Component>
      <Component Id="GeneratedFile53" Guid="*">
        <File Id="file_NetSparkle.dll" Source="$(var.PublishPath)\NetSparkle.dll" />
      </Component>
      <Component Id="GeneratedFile54" Guid="*">
        <File Id="file_NetSparkleUpdater.UI.Avalonia.dll" Source="$(var.PublishPath)\NetSparkleUpdater.UI.Avalonia.dll" />
      </Component>
      <Component Id="GeneratedFile55" Guid="*">
        <File Id="file_netstandard.dll" Source="$(var.PublishPath)\netstandard.dll" />
      </Component>
      <Component Id="GeneratedFile56" Guid="*">
        <File Id="file_SkiaSharp.dll" Source="$(var.PublishPath)\SkiaSharp.dll" />
      </Component>
      <Component Id="GeneratedFile57" Guid="*">
        <File Id="file_System.AppContext.dll" Source="$(var.PublishPath)\System.AppContext.dll" />
      </Component>
      <Component Id="GeneratedFile58" Guid="*">
        <File Id="file_System.Buffers.dll" Source="$(var.PublishPath)\System.Buffers.dll" />
      </Component>
      <Component Id="GeneratedFile59" Guid="*">
        <File Id="file_System.Collections.Concurrent.dll" Source="$(var.PublishPath)\System.Collections.Concurrent.dll" />
      </Component>
      <Component Id="GeneratedFile60" Guid="*">
        <File Id="file_System.Collections.dll" Source="$(var.PublishPath)\System.Collections.dll" />
      </Component>
      <Component Id="GeneratedFile61" Guid="*">
        <File Id="file_System.Collections.Immutable.dll" Source="$(var.PublishPath)\System.Collections.Immutable.dll" />
      </Component>
      <Component Id="GeneratedFile62" Guid="*">
        <File Id="file_System.Collections.NonGeneric.dll" Source="$(var.PublishPath)\System.Collections.NonGeneric.dll" />
      </Component>
      <Component Id="GeneratedFile63" Guid="*">
        <File Id="file_System.Collections.Specialized.dll" Source="$(var.PublishPath)\System.Collections.Specialized.dll" />
      </Component>
      <Component Id="GeneratedFile64" Guid="*">
        <File Id="file_System.ComponentModel.Annotations.dll" Source="$(var.PublishPath)\System.ComponentModel.Annotations.dll" />
      </Component>
      <Component Id="GeneratedFile65" Guid="*">
        <File Id="file_System.ComponentModel.DataAnnotations.dll" Source="$(var.PublishPath)\System.ComponentModel.DataAnnotations.dll" />
      </Component>
      <Component Id="GeneratedFile66" Guid="*">
        <File Id="file_System.ComponentModel.dll" Source="$(var.PublishPath)\System.ComponentModel.dll" />
      </Component>
      <Component Id="GeneratedFile67" Guid="*">
        <File Id="file_System.ComponentModel.EventBasedAsync.dll" Source="$(var.PublishPath)\System.ComponentModel.EventBasedAsync.dll" />
      </Component>
      <Component Id="GeneratedFile68" Guid="*">
        <File Id="file_System.ComponentModel.Primitives.dll" Source="$(var.PublishPath)\System.ComponentModel.Primitives.dll" />
      </Component>
      <Component Id="GeneratedFile69" Guid="*">
        <File Id="file_System.ComponentModel.TypeConverter.dll" Source="$(var.PublishPath)\System.ComponentModel.TypeConverter.dll" />
      </Component>
      <Component Id="GeneratedFile70" Guid="*">
        <File Id="file_System.Configuration.dll" Source="$(var.PublishPath)\System.Configuration.dll" />
      </Component>
      <Component Id="GeneratedFile71" Guid="*">
        <File Id="file_System.Console.dll" Source="$(var.PublishPath)\System.Console.dll" />
      </Component>
      <Component Id="GeneratedFile72" Guid="*">
        <File Id="file_System.Core.dll" Source="$(var.PublishPath)\System.Core.dll" />
      </Component>
      <Component Id="GeneratedFile73" Guid="*">
        <File Id="file_System.Data.Common.dll" Source="$(var.PublishPath)\System.Data.Common.dll" />
      </Component>
      <Component Id="GeneratedFile74" Guid="*">
        <File Id="file_System.Data.DataSetExtensions.dll" Source="$(var.PublishPath)\System.Data.DataSetExtensions.dll" />
      </Component>
      <Component Id="GeneratedFile75" Guid="*">
        <File Id="file_System.Data.dll" Source="$(var.PublishPath)\System.Data.dll" />
      </Component>
      <Component Id="GeneratedFile76" Guid="*">
        <File Id="file_System.Diagnostics.Contracts.dll" Source="$(var.PublishPath)\System.Diagnostics.Contracts.dll" />
      </Component>
      <Component Id="GeneratedFile77" Guid="*">
        <File Id="file_System.Diagnostics.Debug.dll" Source="$(var.PublishPath)\System.Diagnostics.Debug.dll" />
      </Component>
      <Component Id="GeneratedFile78" Guid="*">
        <File Id="file_System.Diagnostics.DiagnosticSource.dll" Source="$(var.PublishPath)\System.Diagnostics.DiagnosticSource.dll" />
      </Component>
      <Component Id="GeneratedFile79" Guid="*">
        <File Id="file_System.Diagnostics.FileVersionInfo.dll" Source="$(var.PublishPath)\System.Diagnostics.FileVersionInfo.dll" />
      </Component>
      <Component Id="GeneratedFile80" Guid="*">
        <File Id="file_System.Diagnostics.Process.dll" Source="$(var.PublishPath)\System.Diagnostics.Process.dll" />
      </Component>
      <Component Id="GeneratedFile81" Guid="*">
        <File Id="file_System.Diagnostics.StackTrace.dll" Source="$(var.PublishPath)\System.Diagnostics.StackTrace.dll" />
      </Component>
      <Component Id="GeneratedFile82" Guid="*">
        <File Id="file_System.Diagnostics.TextWriterTraceListener.dll" Source="$(var.PublishPath)\System.Diagnostics.TextWriterTraceListener.dll" />
      </Component>
      <Component Id="GeneratedFile83" Guid="*">
        <File Id="file_System.Diagnostics.Tools.dll" Source="$(var.PublishPath)\System.Diagnostics.Tools.dll" />
      </Component>
      <Component Id="GeneratedFile84" Guid="*">
        <File Id="file_System.Diagnostics.TraceSource.dll" Source="$(var.PublishPath)\System.Diagnostics.TraceSource.dll" />
      </Component>
      <Component Id="GeneratedFile85" Guid="*">
        <File Id="file_System.Diagnostics.Tracing.dll" Source="$(var.PublishPath)\System.Diagnostics.Tracing.dll" />
      </Component>
      <Component Id="GeneratedFile86" Guid="*">
        <File Id="file_System.dll" Source="$(var.PublishPath)\System.dll" />
      </Component>
      <Component Id="GeneratedFile87" Guid="*">
        <File Id="file_System.Drawing.dll" Source="$(var.PublishPath)\System.Drawing.dll" />
      </Component>
      <Component Id="GeneratedFile88" Guid="*">
        <File Id="file_System.Drawing.Primitives.dll" Source="$(var.PublishPath)\System.Drawing.Primitives.dll" />
      </Component>
      <Component Id="GeneratedFile89" Guid="*">
        <File Id="file_System.Dynamic.Runtime.dll" Source="$(var.PublishPath)\System.Dynamic.Runtime.dll" />
      </Component>
      <Component Id="GeneratedFile90" Guid="*">
        <File Id="file_System.Formats.Asn1.dll" Source="$(var.PublishPath)\System.Formats.Asn1.dll" />
      </Component>
      <Component Id="GeneratedFile91" Guid="*">
        <File Id="file_System.Formats.Tar.dll" Source="$(var.PublishPath)\System.Formats.Tar.dll" />
      </Component>
      <Component Id="GeneratedFile92" Guid="*">
        <File Id="file_System.Globalization.Calendars.dll" Source="$(var.PublishPath)\System.Globalization.Calendars.dll" />
      </Component>
      <Component Id="GeneratedFile93" Guid="*">
        <File Id="file_System.Globalization.dll" Source="$(var.PublishPath)\System.Globalization.dll" />
      </Component>
      <Component Id="GeneratedFile94" Guid="*">
        <File Id="file_System.Globalization.Extensions.dll" Source="$(var.PublishPath)\System.Globalization.Extensions.dll" />
      </Component>
      <Component Id="GeneratedFile95" Guid="*">
        <File Id="file_System.IO.Compression.Brotli.dll" Source="$(var.PublishPath)\System.IO.Compression.Brotli.dll" />
      </Component>
      <Component Id="GeneratedFile96" Guid="*">
        <File Id="file_System.IO.Compression.dll" Source="$(var.PublishPath)\System.IO.Compression.dll" />
      </Component>
      <Component Id="GeneratedFile97" Guid="*">
        <File Id="file_System.IO.Compression.FileSystem.dll" Source="$(var.PublishPath)\System.IO.Compression.FileSystem.dll" />
      </Component>
      <Component Id="GeneratedFile98" Guid="*">
        <File Id="file_System.IO.Compression.Native.dll" Source="$(var.PublishPath)\System.IO.Compression.Native.dll" />
      </Component>
      <Component Id="GeneratedFile99" Guid="*">
        <File Id="file_System.IO.Compression.ZipFile.dll" Source="$(var.PublishPath)\System.IO.Compression.ZipFile.dll" />
      </Component>
      <Component Id="GeneratedFile100" Guid="*">
        <File Id="file_System.IO.dll" Source="$(var.PublishPath)\System.IO.dll" />
      </Component>
      <Component Id="GeneratedFile101" Guid="*">
        <File Id="file_System.IO.FileSystem.AccessControl.dll" Source="$(var.PublishPath)\System.IO.FileSystem.AccessControl.dll" />
      </Component>
      <Component Id="GeneratedFile102" Guid="*">
        <File Id="file_System.IO.FileSystem.dll" Source="$(var.PublishPath)\System.IO.FileSystem.dll" />
      </Component>
      <Component Id="GeneratedFile103" Guid="*">
        <File Id="file_System.IO.FileSystem.DriveInfo.dll" Source="$(var.PublishPath)\System.IO.FileSystem.DriveInfo.dll" />
      </Component>
      <Component Id="GeneratedFile104" Guid="*">
        <File Id="file_System.IO.FileSystem.Primitives.dll" Source="$(var.PublishPath)\System.IO.FileSystem.Primitives.dll" />
      </Component>
      <Component Id="GeneratedFile105" Guid="*">
        <File Id="file_System.IO.FileSystem.Watcher.dll" Source="$(var.PublishPath)\System.IO.FileSystem.Watcher.dll" />
      </Component>
      <Component Id="GeneratedFile106" Guid="*">
        <File Id="file_System.IO.IsolatedStorage.dll" Source="$(var.PublishPath)\System.IO.IsolatedStorage.dll" />
      </Component>
      <Component Id="GeneratedFile107" Guid="*">
        <File Id="file_System.IO.MemoryMappedFiles.dll" Source="$(var.PublishPath)\System.IO.MemoryMappedFiles.dll" />
      </Component>
      <Component Id="GeneratedFile108" Guid="*">
        <File Id="file_System.IO.Pipelines.dll" Source="$(var.PublishPath)\System.IO.Pipelines.dll" />
      </Component>
      <Component Id="GeneratedFile109" Guid="*">
        <File Id="file_System.IO.Pipes.AccessControl.dll" Source="$(var.PublishPath)\System.IO.Pipes.AccessControl.dll" />
      </Component>
      <Component Id="GeneratedFile110" Guid="*">
        <File Id="file_System.IO.Pipes.dll" Source="$(var.PublishPath)\System.IO.Pipes.dll" />
      </Component>
      <Component Id="GeneratedFile111" Guid="*">
        <File Id="file_System.IO.UnmanagedMemoryStream.dll" Source="$(var.PublishPath)\System.IO.UnmanagedMemoryStream.dll" />
      </Component>
      <Component Id="GeneratedFile112" Guid="*">
        <File Id="file_System.Linq.dll" Source="$(var.PublishPath)\System.Linq.dll" />
      </Component>
      <Component Id="GeneratedFile113" Guid="*">
        <File Id="file_System.Linq.Expressions.dll" Source="$(var.PublishPath)\System.Linq.Expressions.dll" />
      </Component>
      <Component Id="GeneratedFile114" Guid="*">
        <File Id="file_System.Linq.Parallel.dll" Source="$(var.PublishPath)\System.Linq.Parallel.dll" />
      </Component>
      <Component Id="GeneratedFile115" Guid="*">
        <File Id="file_System.Linq.Queryable.dll" Source="$(var.PublishPath)\System.Linq.Queryable.dll" />
      </Component>
      <Component Id="GeneratedFile116" Guid="*">
        <File Id="file_System.Memory.dll" Source="$(var.PublishPath)\System.Memory.dll" />
      </Component>
      <Component Id="GeneratedFile117" Guid="*">
        <File Id="file_System.Net.dll" Source="$(var.PublishPath)\System.Net.dll" />
      </Component>
      <Component Id="GeneratedFile118" Guid="*">
        <File Id="file_System.Net.Http.dll" Source="$(var.PublishPath)\System.Net.Http.dll" />
      </Component>
      <Component Id="GeneratedFile119" Guid="*">
        <File Id="file_System.Net.Http.Json.dll" Source="$(var.PublishPath)\System.Net.Http.Json.dll" />
      </Component>
      <Component Id="GeneratedFile120" Guid="*">
        <File Id="file_System.Net.HttpListener.dll" Source="$(var.PublishPath)\System.Net.HttpListener.dll" />
      </Component>
      <Component Id="GeneratedFile121" Guid="*">
        <File Id="file_System.Net.Mail.dll" Source="$(var.PublishPath)\System.Net.Mail.dll" />
      </Component>
      <Component Id="GeneratedFile122" Guid="*">
        <File Id="file_System.Net.NameResolution.dll" Source="$(var.PublishPath)\System.Net.NameResolution.dll" />
      </Component>
      <Component Id="GeneratedFile123" Guid="*">
        <File Id="file_System.Net.NetworkInformation.dll" Source="$(var.PublishPath)\System.Net.NetworkInformation.dll" />
      </Component>
      <Component Id="GeneratedFile124" Guid="*">
        <File Id="file_System.Net.Ping.dll" Source="$(var.PublishPath)\System.Net.Ping.dll" />
      </Component>
      <Component Id="GeneratedFile125" Guid="*">
        <File Id="file_System.Net.Primitives.dll" Source="$(var.PublishPath)\System.Net.Primitives.dll" />
      </Component>
      <Component Id="GeneratedFile126" Guid="*">
        <File Id="file_System.Net.Quic.dll" Source="$(var.PublishPath)\System.Net.Quic.dll" />
      </Component>
      <Component Id="GeneratedFile127" Guid="*">
        <File Id="file_System.Net.Requests.dll" Source="$(var.PublishPath)\System.Net.Requests.dll" />
      </Component>
      <Component Id="GeneratedFile128" Guid="*">
        <File Id="file_System.Net.Security.dll" Source="$(var.PublishPath)\System.Net.Security.dll" />
      </Component>
      <Component Id="GeneratedFile129" Guid="*">
        <File Id="file_System.Net.ServicePoint.dll" Source="$(var.PublishPath)\System.Net.ServicePoint.dll" />
      </Component>
      <Component Id="GeneratedFile130" Guid="*">
        <File Id="file_System.Net.Sockets.dll" Source="$(var.PublishPath)\System.Net.Sockets.dll" />
      </Component>
      <Component Id="GeneratedFile131" Guid="*">
        <File Id="file_System.Net.WebClient.dll" Source="$(var.PublishPath)\System.Net.WebClient.dll" />
      </Component>
      <Component Id="GeneratedFile132" Guid="*">
        <File Id="file_System.Net.WebHeaderCollection.dll" Source="$(var.PublishPath)\System.Net.WebHeaderCollection.dll" />
      </Component>
      <Component Id="GeneratedFile133" Guid="*">
        <File Id="file_System.Net.WebProxy.dll" Source="$(var.PublishPath)\System.Net.WebProxy.dll" />
      </Component>
      <Component Id="GeneratedFile134" Guid="*">
        <File Id="file_System.Net.WebSockets.Client.dll" Source="$(var.PublishPath)\System.Net.WebSockets.Client.dll" />
      </Component>
      <Component Id="GeneratedFile135" Guid="*">
        <File Id="file_System.Net.WebSockets.dll" Source="$(var.PublishPath)\System.Net.WebSockets.dll" />
      </Component>
      <Component Id="GeneratedFile136" Guid="*">
        <File Id="file_System.Numerics.dll" Source="$(var.PublishPath)\System.Numerics.dll" />
      </Component>
      <Component Id="GeneratedFile137" Guid="*">
        <File Id="file_System.Numerics.Vectors.dll" Source="$(var.PublishPath)\System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="GeneratedFile138" Guid="*">
        <File Id="file_System.ObjectModel.dll" Source="$(var.PublishPath)\System.ObjectModel.dll" />
      </Component>
      <Component Id="GeneratedFile139" Guid="*">
        <File Id="file_System.Private.CoreLib.dll" Source="$(var.PublishPath)\System.Private.CoreLib.dll" />
      </Component>
      <Component Id="GeneratedFile140" Guid="*">
        <File Id="file_System.Private.DataContractSerialization.dll" Source="$(var.PublishPath)\System.Private.DataContractSerialization.dll" />
      </Component>
      <Component Id="GeneratedFile141" Guid="*">
        <File Id="file_System.Private.Uri.dll" Source="$(var.PublishPath)\System.Private.Uri.dll" />
      </Component>
      <Component Id="GeneratedFile142" Guid="*">
        <File Id="file_System.Private.Xml.dll" Source="$(var.PublishPath)\System.Private.Xml.dll" />
      </Component>
      <Component Id="GeneratedFile143" Guid="*">
        <File Id="file_System.Private.Xml.Linq.dll" Source="$(var.PublishPath)\System.Private.Xml.Linq.dll" />
      </Component>
      <Component Id="GeneratedFile144" Guid="*">
        <File Id="file_System.Reflection.DispatchProxy.dll" Source="$(var.PublishPath)\System.Reflection.DispatchProxy.dll" />
      </Component>
      <Component Id="GeneratedFile145" Guid="*">
        <File Id="file_System.Reflection.dll" Source="$(var.PublishPath)\System.Reflection.dll" />
      </Component>
      <Component Id="GeneratedFile146" Guid="*">
        <File Id="file_System.Reflection.Emit.dll" Source="$(var.PublishPath)\System.Reflection.Emit.dll" />
      </Component>
      <Component Id="GeneratedFile147" Guid="*">
        <File Id="file_System.Reflection.Emit.ILGeneration.dll" Source="$(var.PublishPath)\System.Reflection.Emit.ILGeneration.dll" />
      </Component>
      <Component Id="GeneratedFile148" Guid="*">
        <File Id="file_System.Reflection.Emit.Lightweight.dll" Source="$(var.PublishPath)\System.Reflection.Emit.Lightweight.dll" />
      </Component>
      <Component Id="GeneratedFile149" Guid="*">
        <File Id="file_System.Reflection.Extensions.dll" Source="$(var.PublishPath)\System.Reflection.Extensions.dll" />
      </Component>
      <Component Id="GeneratedFile150" Guid="*">
        <File Id="file_System.Reflection.Metadata.dll" Source="$(var.PublishPath)\System.Reflection.Metadata.dll" />
      </Component>
      <Component Id="GeneratedFile151" Guid="*">
        <File Id="file_System.Reflection.Primitives.dll" Source="$(var.PublishPath)\System.Reflection.Primitives.dll" />
      </Component>
      <Component Id="GeneratedFile152" Guid="*">
        <File Id="file_System.Reflection.TypeExtensions.dll" Source="$(var.PublishPath)\System.Reflection.TypeExtensions.dll" />
      </Component>
      <Component Id="GeneratedFile153" Guid="*">
        <File Id="file_System.Resources.Reader.dll" Source="$(var.PublishPath)\System.Resources.Reader.dll" />
      </Component>
      <Component Id="GeneratedFile154" Guid="*">
        <File Id="file_System.Resources.ResourceManager.dll" Source="$(var.PublishPath)\System.Resources.ResourceManager.dll" />
      </Component>
      <Component Id="GeneratedFile155" Guid="*">
        <File Id="file_System.Resources.Writer.dll" Source="$(var.PublishPath)\System.Resources.Writer.dll" />
      </Component>
      <Component Id="GeneratedFile156" Guid="*">
        <File Id="file_System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.PublishPath)\System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="GeneratedFile157" Guid="*">
        <File Id="file_System.Runtime.CompilerServices.VisualC.dll" Source="$(var.PublishPath)\System.Runtime.CompilerServices.VisualC.dll" />
      </Component>
      <Component Id="GeneratedFile158" Guid="*">
        <File Id="file_System.Runtime.dll" Source="$(var.PublishPath)\System.Runtime.dll" />
      </Component>
      <Component Id="GeneratedFile159" Guid="*">
        <File Id="file_System.Runtime.Extensions.dll" Source="$(var.PublishPath)\System.Runtime.Extensions.dll" />
      </Component>
      <Component Id="GeneratedFile160" Guid="*">
        <File Id="file_System.Runtime.Handles.dll" Source="$(var.PublishPath)\System.Runtime.Handles.dll" />
      </Component>
      <Component Id="GeneratedFile161" Guid="*">
        <File Id="file_System.Runtime.InteropServices.dll" Source="$(var.PublishPath)\System.Runtime.InteropServices.dll" />
      </Component>
      <Component Id="GeneratedFile162" Guid="*">
        <File Id="file_System.Runtime.InteropServices.JavaScript.dll" Source="$(var.PublishPath)\System.Runtime.InteropServices.JavaScript.dll" />
      </Component>
      <Component Id="GeneratedFile163" Guid="*">
        <File Id="file_System.Runtime.InteropServices.RuntimeInformation.dll" Source="$(var.PublishPath)\System.Runtime.InteropServices.RuntimeInformation.dll" />
      </Component>
      <Component Id="GeneratedFile164" Guid="*">
        <File Id="file_System.Runtime.Intrinsics.dll" Source="$(var.PublishPath)\System.Runtime.Intrinsics.dll" />
      </Component>
      <Component Id="GeneratedFile165" Guid="*">
        <File Id="file_System.Runtime.Loader.dll" Source="$(var.PublishPath)\System.Runtime.Loader.dll" />
      </Component>
      <Component Id="GeneratedFile166" Guid="*">
        <File Id="file_System.Runtime.Numerics.dll" Source="$(var.PublishPath)\System.Runtime.Numerics.dll" />
      </Component>
      <Component Id="GeneratedFile167" Guid="*">
        <File Id="file_System.Runtime.Serialization.dll" Source="$(var.PublishPath)\System.Runtime.Serialization.dll" />
      </Component>
      <Component Id="GeneratedFile168" Guid="*">
        <File Id="file_System.Runtime.Serialization.Formatters.dll" Source="$(var.PublishPath)\System.Runtime.Serialization.Formatters.dll" />
      </Component>
      <Component Id="GeneratedFile169" Guid="*">
        <File Id="file_System.Runtime.Serialization.Json.dll" Source="$(var.PublishPath)\System.Runtime.Serialization.Json.dll" />
      </Component>
      <Component Id="GeneratedFile170" Guid="*">
        <File Id="file_System.Runtime.Serialization.Primitives.dll" Source="$(var.PublishPath)\System.Runtime.Serialization.Primitives.dll" />
      </Component>
      <Component Id="GeneratedFile171" Guid="*">
        <File Id="file_System.Runtime.Serialization.Xml.dll" Source="$(var.PublishPath)\System.Runtime.Serialization.Xml.dll" />
      </Component>
      <Component Id="GeneratedFile172" Guid="*">
        <File Id="file_System.Security.AccessControl.dll" Source="$(var.PublishPath)\System.Security.AccessControl.dll" />
      </Component>
      <Component Id="GeneratedFile173" Guid="*">
        <File Id="file_System.Security.Claims.dll" Source="$(var.PublishPath)\System.Security.Claims.dll" />
      </Component>
      <Component Id="GeneratedFile174" Guid="*">
        <File Id="file_System.Security.Cryptography.Algorithms.dll" Source="$(var.PublishPath)\System.Security.Cryptography.Algorithms.dll" />
      </Component>
      <Component Id="GeneratedFile175" Guid="*">
        <File Id="file_System.Security.Cryptography.Cng.dll" Source="$(var.PublishPath)\System.Security.Cryptography.Cng.dll" />
      </Component>
      <Component Id="GeneratedFile176" Guid="*">
        <File Id="file_System.Security.Cryptography.Csp.dll" Source="$(var.PublishPath)\System.Security.Cryptography.Csp.dll" />
      </Component>
      <Component Id="GeneratedFile177" Guid="*">
        <File Id="file_System.Security.Cryptography.dll" Source="$(var.PublishPath)\System.Security.Cryptography.dll" />
      </Component>
      <Component Id="GeneratedFile178" Guid="*">
        <File Id="file_System.Security.Cryptography.Encoding.dll" Source="$(var.PublishPath)\System.Security.Cryptography.Encoding.dll" />
      </Component>
      <Component Id="GeneratedFile179" Guid="*">
        <File Id="file_System.Security.Cryptography.OpenSsl.dll" Source="$(var.PublishPath)\System.Security.Cryptography.OpenSsl.dll" />
      </Component>
      <Component Id="GeneratedFile180" Guid="*">
        <File Id="file_System.Security.Cryptography.Primitives.dll" Source="$(var.PublishPath)\System.Security.Cryptography.Primitives.dll" />
      </Component>
      <Component Id="GeneratedFile181" Guid="*">
        <File Id="file_System.Security.Cryptography.X509Certificates.dll" Source="$(var.PublishPath)\System.Security.Cryptography.X509Certificates.dll" />
      </Component>
      <Component Id="GeneratedFile182" Guid="*">
        <File Id="file_System.Security.dll" Source="$(var.PublishPath)\System.Security.dll" />
      </Component>
      <Component Id="GeneratedFile183" Guid="*">
        <File Id="file_System.Security.Principal.dll" Source="$(var.PublishPath)\System.Security.Principal.dll" />
      </Component>
      <Component Id="GeneratedFile184" Guid="*">
        <File Id="file_System.Security.Principal.Windows.dll" Source="$(var.PublishPath)\System.Security.Principal.Windows.dll" />
      </Component>
      <Component Id="GeneratedFile185" Guid="*">
        <File Id="file_System.Security.SecureString.dll" Source="$(var.PublishPath)\System.Security.SecureString.dll" />
      </Component>
      <Component Id="GeneratedFile186" Guid="*">
        <File Id="file_System.ServiceModel.Web.dll" Source="$(var.PublishPath)\System.ServiceModel.Web.dll" />
      </Component>
      <Component Id="GeneratedFile187" Guid="*">
        <File Id="file_System.ServiceProcess.dll" Source="$(var.PublishPath)\System.ServiceProcess.dll" />
      </Component>
      <Component Id="GeneratedFile188" Guid="*">
        <File Id="file_System.Text.Encoding.CodePages.dll" Source="$(var.PublishPath)\System.Text.Encoding.CodePages.dll" />
      </Component>
      <Component Id="GeneratedFile189" Guid="*">
        <File Id="file_System.Text.Encoding.dll" Source="$(var.PublishPath)\System.Text.Encoding.dll" />
      </Component>
      <Component Id="GeneratedFile190" Guid="*">
        <File Id="file_System.Text.Encoding.Extensions.dll" Source="$(var.PublishPath)\System.Text.Encoding.Extensions.dll" />
      </Component>
      <Component Id="GeneratedFile191" Guid="*">
        <File Id="file_System.Text.Encodings.Web.dll" Source="$(var.PublishPath)\System.Text.Encodings.Web.dll" />
      </Component>
      <Component Id="GeneratedFile192" Guid="*">
        <File Id="file_System.Text.Json.dll" Source="$(var.PublishPath)\System.Text.Json.dll" />
      </Component>
      <Component Id="GeneratedFile193" Guid="*">
        <File Id="file_System.Text.RegularExpressions.dll" Source="$(var.PublishPath)\System.Text.RegularExpressions.dll" />
      </Component>
      <Component Id="GeneratedFile194" Guid="*">
        <File Id="file_System.Threading.Channels.dll" Source="$(var.PublishPath)\System.Threading.Channels.dll" />
      </Component>
      <Component Id="GeneratedFile195" Guid="*">
        <File Id="file_System.Threading.dll" Source="$(var.PublishPath)\System.Threading.dll" />
      </Component>
      <Component Id="GeneratedFile196" Guid="*">
        <File Id="file_System.Threading.Overlapped.dll" Source="$(var.PublishPath)\System.Threading.Overlapped.dll" />
      </Component>
      <Component Id="GeneratedFile197" Guid="*">
        <File Id="file_System.Threading.Tasks.Dataflow.dll" Source="$(var.PublishPath)\System.Threading.Tasks.Dataflow.dll" />
      </Component>
      <Component Id="GeneratedFile198" Guid="*">
        <File Id="file_System.Threading.Tasks.dll" Source="$(var.PublishPath)\System.Threading.Tasks.dll" />
      </Component>
      <Component Id="GeneratedFile199" Guid="*">
        <File Id="file_System.Threading.Tasks.Extensions.dll" Source="$(var.PublishPath)\System.Threading.Tasks.Extensions.dll" />
      </Component>
      <Component Id="GeneratedFile200" Guid="*">
        <File Id="file_System.Threading.Tasks.Parallel.dll" Source="$(var.PublishPath)\System.Threading.Tasks.Parallel.dll" />
      </Component>
      <Component Id="GeneratedFile201" Guid="*">
        <File Id="file_System.Threading.Thread.dll" Source="$(var.PublishPath)\System.Threading.Thread.dll" />
      </Component>
      <Component Id="GeneratedFile202" Guid="*">
        <File Id="file_System.Threading.ThreadPool.dll" Source="$(var.PublishPath)\System.Threading.ThreadPool.dll" />
      </Component>
      <Component Id="GeneratedFile203" Guid="*">
        <File Id="file_System.Threading.Timer.dll" Source="$(var.PublishPath)\System.Threading.Timer.dll" />
      </Component>
      <Component Id="GeneratedFile204" Guid="*">
        <File Id="file_System.Transactions.dll" Source="$(var.PublishPath)\System.Transactions.dll" />
      </Component>
      <Component Id="GeneratedFile205" Guid="*">
        <File Id="file_System.Transactions.Local.dll" Source="$(var.PublishPath)\System.Transactions.Local.dll" />
      </Component>
      <Component Id="GeneratedFile206" Guid="*">
        <File Id="file_System.ValueTuple.dll" Source="$(var.PublishPath)\System.ValueTuple.dll" />
      </Component>
      <Component Id="GeneratedFile207" Guid="*">
        <File Id="file_System.Web.dll" Source="$(var.PublishPath)\System.Web.dll" />
      </Component>
      <Component Id="GeneratedFile208" Guid="*">
        <File Id="file_System.Web.HttpUtility.dll" Source="$(var.PublishPath)\System.Web.HttpUtility.dll" />
      </Component>
      <Component Id="GeneratedFile209" Guid="*">
        <File Id="file_System.Windows.dll" Source="$(var.PublishPath)\System.Windows.dll" />
      </Component>
      <Component Id="GeneratedFile210" Guid="*">
        <File Id="file_System.Xml.dll" Source="$(var.PublishPath)\System.Xml.dll" />
      </Component>
      <Component Id="GeneratedFile211" Guid="*">
        <File Id="file_System.Xml.Linq.dll" Source="$(var.PublishPath)\System.Xml.Linq.dll" />
      </Component>
      <Component Id="GeneratedFile212" Guid="*">
        <File Id="file_System.Xml.ReaderWriter.dll" Source="$(var.PublishPath)\System.Xml.ReaderWriter.dll" />
      </Component>
      <Component Id="GeneratedFile213" Guid="*">
        <File Id="file_System.Xml.Serialization.dll" Source="$(var.PublishPath)\System.Xml.Serialization.dll" />
      </Component>
      <Component Id="GeneratedFile214" Guid="*">
        <File Id="file_System.Xml.XDocument.dll" Source="$(var.PublishPath)\System.Xml.XDocument.dll" />
      </Component>
      <Component Id="GeneratedFile215" Guid="*">
        <File Id="file_System.Xml.XmlDocument.dll" Source="$(var.PublishPath)\System.Xml.XmlDocument.dll" />
      </Component>
      <Component Id="GeneratedFile216" Guid="*">
        <File Id="file_System.Xml.XmlSerializer.dll" Source="$(var.PublishPath)\System.Xml.XmlSerializer.dll" />
      </Component>
      <Component Id="GeneratedFile217" Guid="*">
        <File Id="file_System.Xml.XPath.dll" Source="$(var.PublishPath)\System.Xml.XPath.dll" />
      </Component>
      <Component Id="GeneratedFile218" Guid="*">
        <File Id="file_System.Xml.XPath.XDocument.dll" Source="$(var.PublishPath)\System.Xml.XPath.XDocument.dll" />
      </Component>
      <Component Id="GeneratedFile219" Guid="*">
        <File Id="file_Tmds.DBus.Protocol.dll" Source="$(var.PublishPath)\Tmds.DBus.Protocol.dll" />
      </Component>
      <Component Id="GeneratedFile220" Guid="*">
        <File Id="file_WindowsBase.dll" Source="$(var.PublishPath)\WindowsBase.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
